@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    font-family: "Poppins", serif;
}

.container{
    width: 1200px;
    margin: 0px auto;
}

header{
    background-color: rgb(190, 200, 209);
}

h1{
    text-align: center;
    padding:10px 0px;
}

.sections{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 0px 10px;
}

h3{
    font-weight: 500;
    text-transform: uppercase;
}