@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  body{
    font-family: "Poppins", serif;
    box-sizing: border-box;
  }

  .container{
    width:90%;
    margin:0px auto;
  }

  nav{
    background-color: rgb(209, 214, 218);
  }

  nav ul{
    padding:0px;
    width:50%;
    margin: 10px auto;
    text-align: center;
  }
  
  nav ul li{
    list-style: none;
    display: inline-block;
    margin: 8px 25px;
    border-bottom: 1px solid #222;
  }

  a{
    text-decoration: none;
    color:#222;
    text-transform: uppercase;
  }

  h3{
    border-bottom: 1px solid black;
  }